@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  min-height: 100vh;
  /*.sss{  
      .page{  
      visibility: visible;
      opacity:1; 

      .fa-window-close{
              font-size: 2rem;
              //position: fixed; 
              //right: 1rem;
              //top: 1rem;
          }      
      }  
      .competencies{
      flex-direction: column;
          .title{
              font-weight: bold;
          }
      } 
      .experiencie{
          font-size: 1.5rem;
          //flex-direction: column;
          .item{

              .title{   

                  //font-size: 2rem; 

              }
              .text{

                  font-weight: 200;
              }
              .year{
                font-weight: bold;
                  color:#d19ba4; 
              }
          }          
      }
  } */
}
.main .head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: #FFAEBC;
}
.main .head .img {
  background-position: start;
  border-radius: 100px;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.4);
  height: 200px;
  width: 200px;
  transition: width 1s, height 1s, border-radius 1s;
}
.main .head .img:hover {
  border-radius: 200px;
  height: 250px;
  width: 250px;
}
@media (max-width: 600px) {
  .main .head .img {
    height: 150px;
    width: 150px;
  }
}
.main .head .information {
  text-align: center;
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .main .head .information {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
  }
}
.main .head .qr {
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.4);
  transition: width 1s, height 1s;
}
.main .head .qr:hover {
  height: 250px;
  width: 250px;
}
@media (max-width: 600px) {
  .main .head .qr {
    height: 150px;
    width: 150px;
  }
}
.main .section {
  font-size: 1.5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #A0E7E5;
  flex-grow: 1;
  /*       .page{
              opacity: 1;
              display: flex;
              position: absolute;
              visibility: hidden;
              overflow: scroll;
              transition: opacity 700ms , ; 
              //top:0;
             //left:0;
              //right:0;
              //bottom:0; 
              font-weight: 400;
              //font-size: 2rem;
   //           padding-top: 50px;
   //           flex-direction: column;
              text-align: start;
              background-color:#A0E7E5;  
              .item {
                  display: flex;
                  //flex-direction: column;
                  padding-bottom: 2rem;
              }
          }   */
}
.main .section .page {
  transition: height 1s;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  height: 0px;
}
.main .section .page .text {
  font-weight: 200;
}
.main .sss .page {
  visibility: visible;
  opacity: 1;
  height: 20rem;
  overflow-y: visible;
}

@media only screen and (max-width: 600px) {
  .head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
*, *:after, *:before {
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
