@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  min-height: 100vh;
}
.main .head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: #ffaebc;
}
.main .head .img {
  border-radius: 100px;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.4);
  height: 200px;
  width: 200px;
  transition: width 200ms, height 200ms, border-radius 200ms, transform 200ms;
  transform: rotate(0deg);
}
.main .head .img:hover {
  border-radius: 200px;
  height: 220px;
  width: 220px;
  transform: rotate(-5deg);
}
@media (max-width: 600px) {
  .main .head .img {
    height: 100px;
    width: 100px;
  }
}
.main .head .information {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.main .head .information .info {
  margin-top: 1rem;
}
.main .head .information .info .icon {
  color: black;
  font-size: 2rem;
}
.main .head .information .info .icon .fa-github {
  margin-right: 0.5rem;
}
.main .head .information .info .icon .fa-linkedin {
  margin-left: 0.5rem;
}
@media (max-width: 600px) {
  .main .head .information .info .icon {
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  .main .head .information .info {
    margin-top: 0.5rem;
  }
}
@media (max-width: 600px) {
  .main .head .information {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
.main .head .qr {
  cursor: pointer;
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.4);
  transition: width 200ms, height 200ms;
}
.main .head .qr:hover {
  height: 220px;
  width: 220px;
}
@media (max-width: 600px) {
  .main .head .qr {
    height: 100px;
    width: 100px;
  }
}
.main .section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.5rem;
  border: 1px solid black;
  background-color: #a0e7e5;
  flex-grow: 1;
  padding: 0.5rem;
  cursor: pointer;
}
.main .section .content {
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .section .content .title {
  font-family: "Gentium Basic", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .main .section .content .title {
    font-size: 1.5rem;
  }
}
.main .section .content .page {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.main .section .content .page .sub-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
@media (max-width: 600px) {
  .main .section .content .page .sub-title {
    font-size: 1.3rem;
  }
}
.main .section .content .page .text {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 600px) {
  .main .section .content .page .text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .section .content {
    min-width: 0px;
  }

  .head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
*, *:after, *:before {
  box-sizing: border-box;
}

/*# sourceMappingURL=Index.css.map */
