.main{
    display:flex;
    flex-direction: column;
    margin:0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 100vh;

    .head{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;           
        background-color:  #FFAEBC;   
        .img{
            border-radius: 100px;
            box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.4);
            height: 200px;
            width: 200px;
        }  

        .information{
            text-align: center;
            font-size: 1.5rem;
            .info{
                margin-bottom: 0.5rem;
            }
        }

        .qr{
            height: 200px;
            width: 200px;
            box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.4);
        }
    } 

    .section{
        font-size: 1.5rem;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color:#A0E7E5;
        flex-grow: 1;
        .page{
            opacity: 0;
            display: flex;
            position: absolute;
            visibility: hidden;
            overflow: scroll;
            transition: opacity 500ms;                  
            top:0;
            left:0;
            right:0;
            bottom:0; 
            font-weight: 400;
            font-size: 2rem;
            padding-top: 50px;
            flex-direction: column;
            text-align: center;
            background-color:#A0E7E5;  
            .item {
                display: flex;
                flex-direction: column;
                padding-bottom: 2rem;
            }
        }                                    
    } 
    .sss{  
        .page{  
        visibility: visible;
        opacity:1; 
        .fa-window-close{
                font-size: 2rem;
                position: fixed; 
                right: 1rem;
                top: 1rem;
            }      
        }  
        .competencies{
            .title{
                font-weight: bold;
            }
        } 
        .experiencie{
            font-size: 1rem;
            .item{
                .title{
                    font-weight: bold; 
                    font-size: 2rem; 
                }
                .year{
                    font-size: 1.5rem;
                    font-weight: bold;
                    color:#d19ba4; 
                }
            }          
        }
    }        
}

@media only screen and (max-width: 600px) {
    .head {
        flex-direction: column;   
        align-items: center;  
        justify-content: center;    
    }
}

